<!-- <link rel="stylesheet" type="text/css" href="/css/style.css" > -->

<div class="paperView">

    <div style="margin-top: 16%;">
      <form action="/auth/signUp" method="POST">
        <h3>REGISTER</h3><br>
        <div class="inputbox">
          <input type="text"  id="firstName" name="firstName" placeholder="firstName" required />
        </div><br>
        <div class="inputbox">
          <input type="text"  id="lastName" name="lastName" placeholder="lastName" required />
        </div><br>
        
        <div class="inputbox">
          <input type="email"  id="email" name="email" placeholder="email" required />
        </div><br>


        <div class="inputbox">
          <label for="school">Select School: </label>
            <select name="school" id="school">
                
            </select>
          </div><br>
        <div class="inputbox">
          <label for="program">Select Program</label>
            <select name="program" id="program">
                 
            </select>
          </div><br>
          <div class="inputbox">
            <input type="password" name="password" id="password" placeholder="password">
          </div><br>
          <button type="submit">Register</button>
    </form>
    </div>
    <br><br>
    
    <div>
      <p>Already have an account? <a href="/auth/login">login</a> </p>
    </div>
</div>

<script>
       let school = document.getElementById('school')
       let program = document.getElementById('program')

       fetch('/JSON/cbuZit.json')
     .then(response=> response.json())
     .then(function(data){

       ////////////////////////////school selection/////////////////////////////////////         
        const schoolArray = []
        const programArray = []
        // const uniqueProgramArray = []

        data.forEach(element=>{
          
          schoolArray.push(`<option label="${element.school}" value="${element.school}">${element.school}</option>`)
          element.programs.forEach(program=>{
                       if(school.value == element.school){
                         programArray.push(`<option label="${program.programName}" value="${program.programName}">${program.programName}</option>`)
                       }
                    })

                      
       })
      school.innerHTML = schoolArray
      program.innerHTML = programArray   ////when there is a selection

      console.log(school.value);
                            
////////////////////program selection starts here////////////////////////

 
      ///////////////////eventListener////////////////////////

            school.addEventListener('change',(e)=>{
              const uniqueProgramArray = []
                data.forEach(element =>{
                  element.programs.forEach(program=>{
                       if(e.target.value == element.school){
                        uniqueProgramArray.push(`<option label="${program.programName}" value="${program.programName}">${program.programName}</option>`)
                       }
                    })
                })

                program.innerHTML = uniqueProgramArray   
            })


////////////////////program selection ends here////////////////////////

    })

</script>