<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" >
    <title>iStude</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
</head>
<body>
  <div class="loaderBox"> 
    <div class="container">
       <span><a href="#" class="logo">
         <img src="/media/iStude.png" alt="">
     </a></span>
       <span class="drop"></span>
   </div>

   <svg>
       <defs>
           <filter id="gooey">
               <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur"/>
               <feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 35 -20" result="gooey" />
               <feComposite in="SourceGraphic" in2="gooey" operator="atop" />
           </filter>
       </defs>
   </svg>
 </div>

      <!--header section starts-->
      <header class="header">

        <a href="/" class="logo" >
            <img src="/media/iStude.png" alt="">
        </a>
  
        <nav class="navbar">
          <a href="/" onclick = 'fugo()' >home</a>
          <a href="#about" onclick = 'fugo()'>about</a>
          <a href="/schools"  class="XulOptions">schools</a>
          <a href="#contact" onclick = 'fugo()'>contact</a>
          <a href="/UploadPapers">Upload past paper</a>
  
        </nav>
        
        <div class="menuIcon">
            
            <span></span>
            <span></span>
            <span></span>
        
        </div>
        
  
      </header>
      <div class="overLay"></div>
  
      <!--header section ends-->
    
       
      <!-- Middle -->
    
    <%- body %>
    
    <!-- Middle -->


    
    <!--footer section begins-->
    <section  class="footer">
        <div class="share">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-whatsapp"></a>
        </div>

        <div class="links">
          <a href="/">home</a>
          <a href="#about">about</a>
          <a href="#contact">contact</a>
          <a href="#terms$conditions">Terms & Conditions</a>
          <a href="http://localhost:3007/admin/all">admin</a>
        </div>

        <div class="credit">created by <span>Mr Franklemba</span> | all rights reserved</div>
       </section>
    <!--footer section begins-->
</body>

  
</html>

<script>
document.querySelector('.loaderBox').style.display = 'none'
</script>

<script src="/js/CbuProgrammes.js"></script>
<script src="/js/script.js"></script>
<script src="/js/main.js"></script>
<script src="/js/school.js"></script>
<script src="/js/search.js"></script>
<script src="/js/editedVersion.js"></script>