/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"); */
@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
    --blur:rgba(0,0,0,0.7);
    --coursesBgColor:  rgb(171, 165, 165);
}
*{
    font-family: 'Spartan', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: none;
}
   
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: .6rem;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: rgb(90, 88, 88);
    border-radius: 5rem;
}

body{
    background: var(--bg);
    position: relative;
    font-family: 'Merienda';
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2px 5px;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}
.btn:hover{
    letter-spacing: .2rem;
}
.header{
    background:var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;left: 0; right: 0;
    z-index: 1000;
   
}
.header .logo img{
    height: 4rem;
    opacity: 0;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.header .menuIcon{
    position: fixed;
    right: 10px;
    top: 20px;
    display: none;
    flex-direction: column;
    width: 40px;
    height: fit-content;
    padding: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    opacity: 0;
}
.header .menuIcon span{
    width: 100%;
    height: 5px;
    margin: 2.2px;
    border-radius: 2px;
    background-color: var(--main-color);
    transition: .5s;
}
.header .menuIcon.active span{
    position: absolute;
    width: calc(100% - 16px);
    top: calc(50% - -3px);
}
.header .menuIcon.active span:nth-child(1){
    transform: rotate(45deg);
}
.header .menuIcon.active span:nth-child(3){
    transform: rotate(-45deg);
}
.header .menuIcon.active span:nth-child(2){
    display: none;
}
.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: none;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
    border: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.header .search-form label:hover{
    color: var(--main-color);
}
.header .cart-items-container{
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}
.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: block;
    align-items: center;
    gap: 1.5rem;
}
.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}
.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}
.header .cart-items-container .cart-item img{
    height: 5rem;
}
.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}
.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}
.contact p{
    color: #fff;
    justify-content: center;
    margin: 1% 30%;
}
.schoolz{
   margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   opacity: 1;
}

.schoolz .advertiser{
    width: 80vw;
}
.schoolz .advertiser .content{
    padding: 5px;
}
.schoolz .advertiser .content h1{
    text-align: center;
    font-size: 6rem;
    text-transform: none;
    color: #fff;
}
.schoolz .advertiser .content p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    color: #eee;
    text-transform: none;
}
.schoolz .Zed_SeXulz{
    width: 70vw;
    padding: 12px;
}
.schoolz .Zed_SeXulz ul{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.schoolz .Zed_SeXulz ul li{
    border: 0.2px solid var(--bg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    color: #fff;
    font-size: 150%;
    font-style:italic var(--main-color);
    cursor: pointer;
    width: 50%;
    height: 150px;
    background-color: var(--black);
}
.schoolz .Zed_SeXulz ul li:hover{
    background-color: var(--main-color);
}

.overLay {
    position: absolute;
    width: 100vw;
    height: 700vh;
    z-index: 10;
    display: none;
    scroll-behavior: unset;

}
.overLay.active{
    display: flex;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/media/gradBackground.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}
.home .content p,#contactP {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    color: #eee;
    text-transform: none;
}
.about{
    opacity: 1;
}
.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}
.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
    text-transform: none;
    text-align: justify;
}
.contentExtra{
    display: none;
    transition: 5s ease-in-out;
}
.contact{
    opacity: 1;
}
.contact .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputbox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);
}
.contact .row form .inputbox span{
    color: #fff;
    font-size: 2rem;
}
.contact .row form .inputbox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}  
.inputbox textarea{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}  

.footer{
    background: var(--black);
    text-align: center;
    opacity: 1;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share a{ 
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}
.footer .share a:hover{
    background-color: var(--main-color);
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color:#fff;
    border: var(--border);
    font-size: 2rem;
}
.footer .links a:hover{
  background-color: var(--main-color);
}
.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credit span{
    color: var(--main-color);
}

.footerNav{
    margin-top: 50px;
    background: var(--black);
    text-align: center;
    opacity: 1;
}
.footerNav .share{
    padding: 1rem 0;
}
.footerNav .share a{ 
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}
.footerNav .share a:hover{
    background-color: var(--main-color);
}
.footerNav .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footerNav .links a{
    padding: .7rem 2rem;
    color:#fff;
    border: var(--border);
    font-size: 2rem;
}
.footerNav .links a:hover{
  background-color: var(--main-color);
}
.footerNav .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}
.footerNav .credit span{
    color: var(--main-color);
}

/* //////////////iStude pro newly inserted code///////////// */
.row {
    background-color: bisque;
    margin: 40px;
   margin-top: 70px;
    display: flex;
    padding: 20px;
}
.row .inputbox{
    padding: 10px;
}

.row .inputbox input{
    font-size: 30px;
}

/* //////////////iStude pro newly inserted code///////////// */



                                             /* styling for the Modal itself*/



 /*____for the modal, the main display___*/


 .programmes .modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: visibility 0s,opacity 0.5s;
  }
  .programmes .modal .down_index {
      bottom: 5px;
  }
  .programmes .modal .down_indexs h5{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .programmes .modal .down_indexb h3{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .programmes .modal .img a {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .programmes .modal .img a img {
      height: 4rem;
  }
  .programmes .modal .imgUni a img{
      height: 5rem;
  }
  .programmes .modal .imgUni a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.programmes .modal{
    position: absolute;
    box-shadow: 0px 1px 7px;
    margin-top: 5%;
    font-family: 'Montserrat',sans-serif;
    background-color: rgb(206, 199, 199);
    width: 55%;
    height: 80%;
    display: flex;
    flex-direction: column;
    opacity: 1;
    border-radius: 10px;
    z-index: 1000;
  }
.programmes .modalInner{
  height: 78%;
    overflow-y: auto;
    background-color: rgb(191, 184, 184);
    align-items: center;
    margin: 1% 2%;

  }
.programmes .modal-close{
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    display: block;
    justify-content: center;
  }
.programmes .modal-close:hover{
    color: red;
  }
.programmes .searchBar{
    position: absolute;
    top: 30px;
    left: 55px;
    font-weight: bold;
    font-size: 45px;
    cursor: pointer;
    display: block;
    justify-content: center;
    color: rgb(87, 13, 13);
    z-index: 20;
}
.programmes .searchBar:hover{
    font-size: 50px;
    color: rgb(87, 33, 33);
}
.programmes .modal .UniTitle{
    margin: 10px auto;
    padding-top: 10px;
  }
.programmes .modal .UniTitle h3{
    font-size: 29px;
  }

   /* for the search content in the modal */

.programmes .ModalOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    scroll-behavior: unset;
    background-color: var(--blur);
}
.programmes .ModalOverlay.active{
    display: flex;
}
   .wrapper{
    position: absolute;
    display: none;
    top: 65px;
    /* left: auto; */
    align-self: center;
    max-width: 450px;
    z-index: 20;
}
.wrapper .search-input{
    position: relative;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.1);
}
#searchInput{
    height: 55px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 0 60px 0 25px;
    font-size: 18px;
}
.search-input .icon i{
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
    color: #131029;
    cursor: pointer;
}
.search-input .icon i:hover{
   font-size: 35px;
}
.search-input .searchBar-close{
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    left: -16;
    text-align: center;
    font-size: 30px;
    color: rgb(130, 20, 20);
    cursor: pointer;
}
.search-input .autocom-box{
    padding: 0;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}
.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
    font-size: 18px;
}
.search-input.active .autocom-box li{
    display: block;
}
.autocom-box li:hover{
     background: #efefef;
}

                              /*___for the accordion___*/                              

.programmes .accordion .contentBx{
    position: relative;
    margin: 3px 20px;
}
.programmes .accordion .contentBx .label{
   position: relative;
   padding: 10px;
   background: #203c43;
   color: #fff;
   cursor: pointer;
   font-size: 150%;
   font-weight: 400;
   text-transform: capitalize;
}
.programmes .accordion .contentBx .label:hover{
    background: #045063;
}
.programmes .accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: crimson;
}
.programmes .accordion .contentBx .content{
    position: relative;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}
.programmes .accordion .contentBx.active .content{
   height: fit-content;
   padding: 10px;
   overflow-y: auto;
   transition: 0.5s;
}
.programmes .accordion .contentBx.active .label::before{
    content: '-';
}
.programmes .accordion .contentBx .content ul li{
    line-height: 30px;
    background-color: rgb(128, 117, 102);

    margin: 2px  50px;
    text-align: center;
    box-shadow: 2px 2px 8px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-transform: capitalize;
    font-weight: 40px;
    font-size: 18px;
    cursor: pointer;
}
.programmes .accordion .contentBx .content ul li:hover{
  text-decoration: underline;
  opacity: 0.7;
}



/* for the course codes eg CS120, CS340 etc.. */
.programmes .fish h3{
  color: rgb(226, 116, 37);
  text-decoration: none;
  margin: 2% 10%;
  font-size: 170%;
  text-align: right;
  font-weight: 700;
}


  
/*for the course attributes eg Assignments,test 1, sessional etc*/
  .programmes .CourseAttrib{
    background-color: #203c43;
    height: fit-content;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.programmes  .CourseAttrib p{
    justify-content: center;
    list-style: none;
    cursor: pointer;
    padding: 0px 5px;
  color: #fff;
  display: inline-flex;
  align-items: center;
    justify-content: center;
  font-style: italic;
  font-family: sans-serif;
  font-size: 150%;
  line-height: 10px;
  margin: 1% 1%;
  height: 30px;
  width: fit-content;
  transition: 0.3s ease;
  border-radius: 5px;
  } 
  .programmes  .CourseAttrib p:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 2.5);
  } 

 /*For the back button*/ 
 .programmes span.back_button{
    position: absolute;
    top: 7px;
    left: 8px;
    font-weight: initial;
    font-size: 14px;
    cursor: pointer;
    display: block;
    justify-content: center;
  }
.programmes  span.back_button a{
    text-decoration: none;
    color: rgb(140, 6, 33);
    font-style: italic;
    font-size: 15px;
  }
.programmes  span.back_button a:hover{
    color: rgb(66, 64, 64);
  }

/*for the papers the pdf's*/

 .paperView {
    margin: 1% 10%;
    position: relative;
}
.paperView a{
    padding: 2%;
}
.paperView a ul {
    background-color: rgb(247, 241, 241);
    padding: 2% 6%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 1%;
    width: 100%;
    list-style: none;
}
.paperView a ul li{
    font-size: 150%;
}
.paperView a ul:hover{
    text-decoration: underline;
    background-color: #ccc;
}

/*for the papers if they are not available*/
.paperView .Non_Paper {
    margin: 1% 10%;
    position: relative;
    background-color: #ccc; 
    border: 0.5px ;
    border-style: groove;
}
.paperView .Non_Paper p{
    font-size: 180%;
    color: var(--black);
    opacity: 0.7;
    padding: 10% 20%;
    text-align: center;

}


  /*for the kah small title*/
.programmes  .title h3{
    margin-top:1%;
      padding: 2% 5%;
      font-size: 180%;
      text-align: left;
      color: rgb(124, 10, 37);
      font-style: italic;
      text-transform: capitalize;
  }

                           /*media queries*/


.loaderBox{
    position: fixed;
    top: 10%;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
     
}
.loaderBox svg{
    position: fixed;
    width: 150px;
    height: 150px;
}
   
.loaderBox .container{
    position: fixed;
    filter: url('#gooey');
    display: flex;
    justify-content: center;
    align-items: center;
}
.loaderBox .liquid-1 {
    position: relative;
}
.loaderBox span{
background-color: black;
height: auto;
width: auto;
}
.loaderBox span .logo img{
    height: 14rem;
    width: 18rem;
    opacity: 0;
}
.loaderBox .drop {
    position: absolute;
    background: rgb(160, 9, 160);
    width: 18px;
    height: 18px;
    border-radius: 60% 70% 50% 60% / 65% 66% 60% 65%;
    animation: 6s move ease infinite;
}
.loaderBox .drop:after {
    width: 17px;
    height: 17px;
    content: '';
    position: absolute;
    background: var(--yellow);
    border-radius: 50% 60% 60% 70% / 60% 65% 65% 65%;
    left: 25px;
    top: 3px;
    animation: 6s drop_effect ease infinite;
}

@keyframes move {
    0%, 100%{
        transform: translate(90px);
    }
    50% {
        transform: translate(-90px);
    }
}

@keyframes drop_effect {
    0%{
        left: 0px;
    }
    5%{
        left: 35px;
    }
    45%{
        left: 0px;
    }
    50%{
        left: 0px;
    }
    55%{
        left: -30px;
    }
    95%{
        left: 0px;
    }
    100%{
        left: 0;
    }
}


/* NEWLY inserted styling */

.accordion.courses{
    display: flex;
    width: 100%;
    height: 46vh;
    /* background-color: #ccc; */
    font-family: 'Merienda';
}
.yearList{
    height: fit-content;
    width: 20vw;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3px;
}
.yearList li{
    text-align: center;
    padding: 10px;
}
.yearList li h1{
    cursor: pointer;
    color: var(--bg);
    padding: 8px;
    border-radius: 6px;
    opacity: 1;
    font-style: italic;
    transition: 0.3s ease;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.yearList li h1:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 2.5);
}
.courseList{
    padding: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70vw;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 2.5);
    margin-left: 10px;
}

.courseList li{
    padding: 5px;
    margin: 10px;
    height: fit-content;
}
.courseList li h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 20px;
    background-color: var(--black);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 2.5);
}
.courseList li h2:hover{
    color: #fff;
    background-color: var(--bg);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 2.5);
}

/*__________________________________media queries*/
 
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .footerNav{
        display: none;
    }

    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem ;
    }
    .schoolz{
        display: block;
        align-items: center;
        justify-content:space-evenly;
    }
    .schoolz .advertiser{
        width: 100%;
    }

    .schoolz .Zed_SeXulz{
        bottom: 10%;
        width: 100%;
    }
    .schoolz .Zed_SeXulz ul{
        width: 100%;
        padding: 0px;
    }
    .schoolz .Zed_SeXulz ul li{
        height: 100px;
    }
}

@media (max-width:780px){
    .header .menuIcon{
        display: flex;
    }
    .footerNav{
        display: block;
    }
    .header .navbar{
        position: absolute;
        top: 100%; right: -60%;
        background:  var(--black);
        width: 60% ;
        height: calc(100vh - 9.5rem);
        visibility: visible;
        transition: 0.5s ease-in;
    }
    .header .navbar.active{
        right: 0;
    } 
    .header .navbar a{
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
        text-transform: none;
    }
    .contact p{
        font-size: 1.5rem;
    }
    .yearList li{
        text-align: center;
        padding: 8px 0px;
    }
    .courseList{
        padding: 10px;
    }
    .courseList li h2{
        padding: 15px;
    }
    .programmes  span.back_button a{
        font-size: 20px;
      }

       /*____for the modal, the main display___*/
       .programmes .modal{
        width: 97%;
    }
    .programmes .modalInner{
        padding: 0px 1px;
    }
    .programmes .modal .UniTitle{
        justify-content: center;
        align-items: center;
    }
    .programmes .modal .UniTitle h3{
        font-size: 20px;
    }
    /*___for the accordion___*/
    .programmes .accordion .contentBx{
        margin: 3px 10px;
    }
    .programmes .accordion .contentBx .label{
        
        font-weight: 200;
    }
    .programmes .accordion .contentBx .label::before{
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        font-size: 1.5em;
        color: crimson;
    }
    .programmes .accordion .contentBx .content ul li{
    margin: 2px  10px;
    font-size: 14px;
    }

}

@media (max-width:450px){
    html{
        font-size: 40%;
    }
    .programmes .searchBar{
        top: 30px;
        left: 15px;
        font-size: 35px;
    }
    .header .menuIcon{
        top: 8px;
    }
    
}
@media (max-width:350px){
    html{
        font-size: 30%;
    }
    .programmes .searchBar{
        font-size: 25px;
    }
    .programmes .modal .UniTitle h3{
        font-size: 16px;
      }
    .header .menuIcon{
        top: 3px;
    }
    .programmes  span.back_button a{
        font-size: 13px;
      }
    
}