   
   
   <!--schoolz section begins-->
    <section class="schoolz" id="programmes" style="margin-top: 100px;">
   <div class="advertiser">
       <div class="content">
         <h1>iStude</h1>
       <p>You can’t connect the dots looking forward; you can only connect them looking backwards.
   
          So you have to trust that the dots will somehow connect in your future. You have to trust in something — 
          your gut, destiny, life, karma, whatever. Believing that the dots will connect down the road will give 
          you the confidence to follow your heart even when it leads you off the well worn path\, and that will 
          make all the difference.- <b><i>Steve Jobs</i></b></p>
       </div>
   </div>
   <div class="Zed_SeXulz">
       <ul>
          <li class="cbu" onclick="displayModal()" >Copperbelt university</li>
  
       </ul>
   </div>
   <!--programmes section begins-->
 <div class="programmes" >
   <div class="modal-bg">
     
   </div>
 </div>
 
 </section>
 <!-- schoolz section ends -->
<script>

</script>