
    <!--home section starts-->
    
    <section class="home" id="home">
        <div class="content">
           <h3>access your exam past papers</h3>
           <p>Welcome to iStude, we provide you with university past exam papers.
             All you have to do is \select your particular program by clicking <b>get started</b> below and you will be provided with 
             different options\.The past papers include assignments, sessionals, test 1, test 2 and quiz.
           </p>
        </div>
    </section>

    <!--home section ends-->

    <!--about section starts-->
     <section class="about" id="about">
       <h1 class="heading"><span>about</span> us</h1>
       
       <div class="row">
         <div class="image">
           <img src="/media/fish.jpg" alt="">
         </div>
         <div class="content">
           <h3>what makes this site special?</h3>
           <p>The main importance of this site is to make life easier for students, it has come to our knowledge that most students
               don't usually perform well because they have no idea of how their lectures prepare papers. Recent studies have shown that 
               most lecturers repeat same questions from previous past papers, hence going through there past papers puts you ahead of the game.
               Well worry no more because <b>iStude</b> will help you get there.
             </p>
             <div class="contentExtra">
              <p>Please note that the website is still under construction, expect some abnormalities from time to time.<br/>
                Nevertheless if you spot any unwanted behavior or if you have any suggestions please feel free to contact us below.
                Your support will be highly appreciated\.Remember iStude is here for the students, so speak out your voices!!!.
              </p>
             </div>
             <div class="btn" ><p>show more</p></div>
         </div>
       </div>
     </section>
    <!--about section ends-->

       <!--contact section begins-->
       <section class="contact" id="contact">
        <h1 class="heading"> <span>contact</span> us </h1>
        
         <div class="row">
         
           <form action="/" method="POST">
             <h3>get in touch </h3>
             <p id="contactP">Any suggestions, questions ,comments? let us know in the comment section below.</p>
             <div class="inputbox">
               <input type="text"  id="name" name="name" placeholder="Name" required />
             </div>
             <div class="inputbox">
               <input type="number" name="phone" id="phone" placeholder="Phone">
             </div>
             <div class="inputbox">
               <input type="text"  id="email" name="email" placeholder="Email" required />
             </div>
             <div class="inputbox">
               <textarea name="message" id="message" cols="50" rows="5" placeholder="Message" required ></textarea>
             </div>
             <input type="submit" class="btn" value="Submit" id="submit" />
           </form>
             
         </div>
 
     </section>
     <!--contact section ends-->

